.et-fb-settings-options-tab [class^="difl_"] svg,
.et-fb-settings-options-tab .df_adh_heading svg,
.et-fb-settings-options-tab .dfadh_heading_anim svg
{
    max-width: 20px;
    margin: 0 auto;
}
.et-fb-settings-options-tab [class^="difl_"],
.et-fb-settings-options-tab .df_adh_heading,
.et-fb-settings-options-tab .dfadh_heading_anim
{
    background-image: url('img/flash.html') !important;
    background-size: initial !important;
    background-repeat: no-repeat !important;
    background-position: 4px 2px !important;
}
/* Only Builder */
.df-product-outer-wrap .df-item-wrap.null_item_builder{
    display: none !important;
}
p:empty {
    display: none;
}

@media (min-width: 981px) { 
    [data-item="1"] .swiper-slide{
        width: calc(100%/1);
    }
    [data-item="2"] .swiper-slide{
        width: calc(100%/2);
    }
    [data-item="3"] .swiper-slide{
        width: calc(100%/3);
    }
    [data-item="4"] .swiper-slide{
        width: calc(100%/4);
    }
    [data-item="5"] .swiper-slide{
        width: calc(100%/5);
    }
    [data-item="6"] .swiper-slide{
        width: calc(100%/6);
    }
    [data-item="7"] .swiper-slide{
        width: calc(100%/7);
    }
}
@media (max-width: 980px) and (min-width: 768px) {
    [data-itemtablet="1"] .swiper-slide{
        width: calc(100%/1);
    }
    [data-itemtablet="2"] .swiper-slide{
        width: calc(100%/2);
    }
    [data-itemtablet="3"] .swiper-slide{
        width: calc(100%/3);
    }
    [data-itemtablet="4"] .swiper-slide{
        width: calc(100%/4);
    }
    [data-itemtablet="5"] .swiper-slide{
        width: calc(100%/5);
    }
    [data-itemtablet="6"] .swiper-slide{
        width: calc(100%/6);
    }
    [data-itemtablet="7"] .swiper-slide{
        width: calc(100%/7);
    }
}
@media (max-width: 767px) {
    [data-itemphone="1"] .swiper-slide{
        width: calc(100%/1);
    }
    [data-itemphone="2"] .swiper-slide{
        width: calc(100%/2);
    }
    [data-itemphone="3"] .swiper-slide{
        width: calc(100%/3);
    }
    [data-itemphone="4"] .swiper-slide{
        width: calc(100%/4);
    }
    [data-itemphone="5"] .swiper-slide{
        width: calc(100%/5);
    }
    [data-itemphone="6"] .swiper-slide{
        width: calc(100%/6);
    }
    [data-itemphone="7"] .swiper-slide{
        width: calc(100%/7);
    }
}

/* CPT and blog Styles */
.df-item-wrap {
    overflow: hidden;
    position: relative;
}
.df-item-wrap *:not(.et_pb_background_pattern):not(.et_pb_background_mask):not(.df-overlay):not(.df-icon-wrap) {
    position: relative;
}
.df-acf-field-inner {
    display: inherit;
}

